{%extends "premios_app/base.html"%}
{%block content%}
{%include "premios_app/navbar.html"%}
<div id="jumbo" class="jumbotron text-center landing-jumbotron z-depth-0">
    <h2 class="jumbotron-header">Warning page</h2>
</div>

<div class="container mid">
    <form method="POST">
        {%csrf_token%}
        <p>Do you really want to delete {{object}}?</p>
        <div class="text-center">
            <input type="submit" class="btn btn-outline-danger" value="Delete">
            <a href="{%url 'project_detail' object.pk%}" class="btn btn-warning"> Back</a>
        </div>
    </form>
</div>
{%endblock%}
